/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/

/web/sites/*/files/
/web/sites/simpletest/

/web/sites/*/settings.local.php

.env
.env.*
!.env.example

node_modules/
dist/
build/

.idea/
.vscode/

*.log
*.tmp
*.cache

.DS_Store
Thumbs.db
